* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
}
.screen {
  width: 700px;
  height: 700px;
  margin: auto;
}
.board {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 150%;
  margin: auto;
  padding: 4%;
  box-shadow: 5px 5px 20px gray;
}
.center {
  position: absolute;
  left: 30.4%;
  top: 30.9%;
  border: none;
  border-radius: 100%;
  background-color: ;
  border-color: yellow;
  height: 40%;
  width: 40%;
}
.control-container {
  height: 100%;
  width: 100%;
  background-color: #d1d1e0;
  border-radius: 100%;
}
.control-logo {
  font-family: 'Alfa Slab One', cursive;
  height: 40%;
  width: 100%;
  text-align: center;
  font-size: 4em;
  padding: 10%;
}
.control{
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.paddle-container {
  border: none;
  border-color: yellow;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.paddles {
  height: 50%;
  width: 50%;
  border: none;
  border-color: orange;
}
#green0 {
  fill: #00b359;
}
#red1 {
  fill: #cc3300;
}
#yellow2 {
  fill: #e6e600; 
}
#blue3 {
  fill: #1a75ff;
}
#score {
  background-color: black;
  color: red;
  height: 70%;
  width: 21%;
  border-radius: 10%;
  font-size: 3em;
  text-align: center;
  padding: 0%;
  margin: auto;
}
.pressed {
  background-color: orange;
}
.small-button {
  height: 30%;
  width: 30%;
  margin: 0 auto;
  border-radius: 100%;
}
.small-button:active {
  background-color: orange;
}
.bcont {
  height: 100%;
  width: 30%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
@media only screen and (max-width: 700px) {
  .screen {
    width: 500px;
    height: 500px;
  }
  .control-logo {
    font-size: 3em;
  }
  #score {
    font-size: 2.2em;
  }
}
@media only screen and (max-width: 500px) {
  .screen {
    width: 350px;
    height: 350px;
  }
    .control-logo {
    font-size: 2em;
  }
  #score {
    font-size: 1.6em;
  }
}